name: video_downloader
description: A video downloader app for YouTube

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  url_launcher: ^6.1.0
  permission_handler: ^12.0.1
  http: ^1.1.0
  path_provider: ^2.1.0
  dio: ^5.3.3
  sqflite: ^2.3.0
  provider: ^6.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true

  # assets:
  #   - assets/images/